h1 {
    font-family: 'Great Vibes', cursive;
    color: rgb(204, 154, 26);
    font-size: 55px;
    line-height: 200%;
    margin-bottom: 120px;
    text-align: center;
    font-weight: 800;
}

body {
    background-color: black;
    color: white;
    font-family: 'Lato', san serif;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10pt;
}

#music-background3 {
    border: 6px solid goldenrod;
    border-radius: 10px;
    height: 200px;
    width: 99%;
    background: url("../images/music-background3.jpg") no-repeat fixed center;
    background-size: cover;
}

.music-theory-images {
    height: 80pt;
    width: 80pt;
    margin-left: 30pt;
}

.button {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 5px;

}

